.git/
log/*
node_modules/
private/
public/assets/*
public/uploads/*
tmp/*
uploads/
volumes/
*.env
*.log
*.sql
.byebug_history
.dockerignore
.gitignore
.ruby-gemset
.ruby-version
Dockerfile
docker-compose.yml
