<div class='readonly-data'>
  <h2><%= t('view.stats.index_title') %></h2>

  <div class='row-fluid'>
    <div class='span4'>
      <ul class='nav nav-tabs nav-stacked'>
        <li><%= link_to(
          t('view.stats.sales_earn.title'), 
          sales_earn_stats_path
        ) %></li>
        <li><%= link_to(
          t('view.stats.sales_by_seller.title'), 
          sales_by_seller_stats_path
        ) %></li>
      </ul>
    </div>
  </div>
</div>
<div class='form-actions'>
  
</div>
